<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="contact-hero">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>Activities</h1>
    <p class="subtitle">
      thw Govt.of  Tamilnadu formed TAMILNADU MAGNESITE LIMITED<br>
      popularly known as TANMAG in January 1979 
    </p>
    <div class="breadcrumb">
      <a href="#">Home</a>
      <span>»</span>
      <span>Our Activities</span>
    </div>
  </div>
  <div class="wave-animation"></div>
</section>
</body>
</html>